# Maven
**/pom.xml.versionsBackup
**/pom.xml.releaseBackup
**/release.properties
**/target
**/pom.xml.tag
**/pom.xml.next
**/dependency-reduced-pom.xml
**/buildNumber.properties
**/.mvn/timing.properties

# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

#Eclipse
**/.project
**/.classpath
**/.settings

# IDEA
**/.idea
**/*.iml